<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yasmina.udmap_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.SignupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetPasswordActivity">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.ResetPasswordActivitys" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.Menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HoraireActivity">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.HoraireActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListItemActivity1">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.ListItemActivity1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListItemActivity2">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.ListItemActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListItemActivity3">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.ListItemActivity3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.MainActivityChat">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.ListItemActivity4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListItemActivity5">
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.ListItemActivity5" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".TimeLineActivity" >
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.TimeLineActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".EmploiDuTemps" >
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.EmploiDuTemps" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ContactActivity" >
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.EmploiDuTemps" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUsActivity" >
            <intent-filter>
                <action android:name="com.example.yasmina.udmapp.AboutUsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>